/Abschlussarbeit.pdf
/Abschlussarbeit.aux
/Abschlussarbeit.bbl
/Abschlussarbeit.blg
/Abschlussarbeit.lof
/Abschlussarbeit.log
/Abschlussarbeit.lol
/Abschlussarbeit.lot
/Abschlussarbeit.out
/Abschlussarbeit.toc
out/